body{
  font-family: 'Montserrat', sans-serif;
  background: rgb(107,107,107);
  background: radial-gradient(circle, rgba(107,107,107,1) 0%, rgba(126,126,126,1) 35%, rgba(144,144,144,1) 73%);
}
/* style */
.container{
  background-color: rgb(221, 221, 221);
  border-radius: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.container .title, .container .box{
  text-align: center;
}
.container .title{
  font-size: 28px;
  margin-bottom: 50px;
}
.box{
  padding: 15px;
}
#lezione .box img{
  max-height: 200px;
}
#how .box img, #why .box img{
  height: 150px;
}
.box h3{
  font-size: 21px;
}
.box p{
  font-size: 17px;
}
/* /style */
/* relativi agli elementi del container BLOCCO3 */
.blocco3 .radious{
  background-color: #2f62b9;
  border-radius: 50%;
}
.blocco3 .box{
  margin-bottom: 30px;
}
/* /relativi agli elementi del container BLOCCO3 */
/* Responsive-style */
@media screen and (max-width: 767px){
  #lezione .box img{
    max-height: 100px;
  }
  #how .box img, #why .box img{
    height: 75px;
  }
}
/* /Responsive-style */
